<div class="col-12 col-md-6 col-lg-4 px-2" id="product_<%=@cart_product.product_id%>">
  <div class="card card-product">
    <%= image_tag @cart_product.product.image, class:"card-img-top", alt: @cart_product.product.name%>
    <div class="card-body">
      <h5 class="card-title"><%=link_to @cart_product.product.name, product_path(@cart_product.product_id)%></h5>
    </div>
    <div class="card-body">
      <div class="">
        <%= @cart_product.product.price%> грн.
      </div>
      count: <%= number_field_tag :count,@cart_product.count, onchange:"cart_product_change_count(#{@cart_product.product_id},this.value)" %>
      <%= link_to "Show", product_path(@cart_product.product_id), class:"card-link" %>
      <div class="btn btn-danger card-link" onclick="remove_from_cart(<%=@cart_product.product_id%>)">remove from card</div>

    </div>
  </div>
</div>
