<div class="col-12 col-md-6 col-lg-4 px-2">
  <div class="card card-product">
    <%= image_tag @product.image, class:"card-img-top", alt: @product.name%>
    <div class="card-body">
      <h5 class="card-title"><%=link_to @product.name, @product%></h5>
      <p class="card-text"><%=@product.description%></p>
    </div>
    <div class="card-body">
      <div class="">
        <%= @product.price%>
      </div>
      <%= link_to "Show", @product, class:"card-link" %>
      <div class="btn btn-danger card-link" onclick="add_to_cart(<%=@product.id%>)">add to card</div>
    </div>
  </div>
</div>
