<div class="product">
  <div class="row">
    <div class="col-12 col-lg-6">
      <%= image_tag @product.image, alt:@product.name, title:@product.name, class:"image"%>
    </div>
    <div class="col-12 col-lg-6">

      <h1 class="title">
        <%= @product.name%>
      </h1>
      <p><%= @product.description%></p>
      <div class="btn btn-danger" onclick="add_to_cart(<%=@product.id%>)">
        Add to cart
      </div>
    </div>
  </div>
</div>
<section class="other-products mt-5">
<h2 class="text-center">OTHERS</h2>
<div class="row">
  <%= render ProductComponent.with_collection(@products)%>
</div>
</section>
